<%= form_tag '/s', :remote => true do %>
  email:
  <%= text_field_tag 'email' %>
  phone:
  <%= text_field_tag 'phone' %>
  message:
  <%= text_area_tag 'message' %>
  <%= submit_tag 'go!' %>
<% end %>

<div id="text"></div>