<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @ninja.name %>
</p>

<p>
  <b>Weapons:</b>
  <%= @ninja.weapons %>
</p>


<%= link_to 'Edit', edit_ninja_path(@ninja) %> |
<%= link_to 'Back', ninjas_path %>
