<%= form_for(@mp3) do |f| %>
  <% if @mp3.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mp3.errors.count, "error") %> prohibited this mp3 from being saved:</h2>

      <ul>
      <% @mp3.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :song %><br />
    <%= f.text_field :song %>
  </div>
  <div class="field">
    <%= f.label :youtube %><br />
    <%= f.text_field :youtube %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
