<!DOCTYPE html>
<html>
<head>
  <title>Moviez</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


<header>Moviez</header>
<nav>
	<%= link_to "Home", "/" %>
	<%= link_to "About", about_path %>
	<%= link_to "FAQ", faq_path %>
	::
	<%= link_to "Movies", movies_path %>
	<%= link_to "New Movies", movies_new_path %>
</nav>
<%= yield %>

<footer>(c) thomas yang</footer>
</body>
</html>
