<h1>Listing gods</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% gods.each do |god| %>
  <tr>
    <td><%= god.name %></td>
    <td><%= god.description %></td>
    <td><%= link_to 'Show', god %></td>
    <td><%= link_to 'Edit', edit_god_path(god) %></td>
    <td><%= link_to 'Destroy', god, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New God', new_god_path %>
